<!--Larisa Pyykölä, student number 1702357-->
<!--added menu -->
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Extra curriculum</ion-title>
    </ion-toolbar>
  </ion-header>

 <!--used grid for adding for completed courses-->
 
  <ion-content padding><!--added padding-->
    <h2>Completed specialization courses</h2>

    <ion-grid class="courses">

      <ion-row>       
        <ion-col>
            &#8226; Web Development
        </ion-col>
               
        <ion-col>           
                    <fa-icon [icon]="['fab', 'html5']" style="color: #E44D26" size ="2x"></fa-icon>
                    <fa-icon [icon]="['fab', 'css3-alt']" style="color: #3b5998" size ="2x"></fa-icon> 
                    <fa-icon [icon]="['fab', 'bootstrap']" style="color: #602c50" size ="2x"></fa-icon>                   
        </ion-col>       
      </ion-row>

      <ion-row>       
          <ion-col>
              &#8226; Dynamic Web Applications with Javascript
          </ion-col>
                 
          <ion-col>
                <fa-icon [icon]="['fab', 'js']" style="color: #f0db4f" size ="2x"></fa-icon>
          </ion-col>  
        </ion-row>

      <ion-row>       
            <ion-col>
                &#8226; Mobile App Design and Development with Ionic
            </ion-col>
                   
            <ion-col>
              <!--  <ion-icon name="ionic" style="color: #498aff"></ion-icon> --><!--for some reson this icon is not working-->
              <fa-icon [icon]="['far', 'dot-circle']" style="color: #498aff" size ="2x"></fa-icon>
            </ion-col>  
        </ion-row>

        <ion-row>       
            <ion-col>
                &#8226; Android Mobile App Development
            </ion-col>
                   
            <ion-col>
                <fa-icon [icon]="['fab', 'android']" style="color: #A4C639" size ="2x"></fa-icon>
            </ion-col>  
        </ion-row>  

      <ion-row>       
          <ion-col>
              &#8226; Information Management and Databases
          </ion-col>
          <ion-col>
                <fa-icon [icon]="['fas', 'database']"  size ="2x"></fa-icon>
          </ion-col>  
 
      </ion-row>

      <ion-row>       
           <ion-col>
              &#8226; Object-Oriented Programming with Java
           </ion-col> 
           
           <ion-col>
                <fa-icon [icon]="['fab', 'java']" style="color:#5382a1" size ="2x"></fa-icon>
          </ion-col>  
      </ion-row>

      <ion-row>       
          <ion-col>
              &#8226; Search Engine Optimization
          </ion-col> 
          <ion-col>
                <fa-icon [icon]="['fab', 'google']" style="color:#4285F4" size ="2x"></fa-icon>
          </ion-col>  
      </ion-row>   
    </ion-grid>
      <h2>Planned specialization courses</h2>

      <ion-grid class="courses">
          <ion-row>       
              <ion-col>
                  &#8226; Cross Platform Mobile Apps
              </ion-col>
                     
              <ion-col>
                    <fa-icon [icon]="['fas', 'mobile']" size ="2x"></fa-icon>
              </ion-col>  
          </ion-row> 

          <ion-row>       
              <ion-col>
                  &#8226; Web Content Management Systems
              </ion-col>
                     
              <ion-col>
                    <fa-icon [icon]="['fab', 'wordpress']" style="color:#00749c" size ="2x"></fa-icon>
              </ion-col>  
          </ion-row>    
          
          <ion-row>       
              <ion-col>
                  &#8226; Web App Development with PHP/SQL
              </ion-col>
              <ion-col>
                    <fa-icon [icon]="['fab', 'php']"  size ="2x"></fa-icon>
              </ion-col>  
   
 
          </ion-row>        
      </ion-grid>

    
  </ion-content>
