<!--Larisa Pyykölä, student number 1702357-->
<!--added menu and title-->
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Technical skills</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

<!--added skills in a list-->
<ion-content padding>
    <div class="techSkills">
      <h2>Technical skills</h2>
  
      <ul>
        <li>HTML5 , CSS, JavaScript, Bootstrap, Ionic 4 framework</li>
        <li>Java, Kotlin, SQL</li>
        <li>Photoshop, UI Design, Prototyping</li>
        <li>SEO, Google Analytics</li>
        <li>UX evaluation, UI design</li>
      </ul>
  
    </div>
  
  </ion-content>
