<!--Larisa Pyykölä, student number 1702357-->
<!--added menu and title-->
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contacts</ion-title>
    </ion-toolbar>
  </ion-header>

<!--added icons with contact information in ion-items-->
<ion-content padding>
    <ion-item>
       <fa-icon [icon]="['fas', 'phone-square']" size ="2x" slot="start"></fa-icon> Phone: +358 40 584 88 34  
    </ion-item>
    <ion-item>
        <fa-icon [icon]="['fas', 'envelope-square']" size ="2x" slot="start"></fa-icon> Email: larisa.pyykola@gmail.com 
     </ion-item>
     <ion-item href="https://www.linkedin.com/in/larisa-pyykola/">
        <fa-icon [icon]="['fab', 'linkedin']" size ="2x" slot="start"></fa-icon> LinkedIn: https://www.linkedin.com/in/larisa-pyykola/
     </ion-item>
     <ion-item  href="https://github.com/LarisaPk">
        <fa-icon [icon]="['fab', 'github']" size ="2x" slot="start"></fa-icon> GitHub: https://github.com/LarisaPk
     </ion-item>
     <ion-item>
        <fa-icon [icon]="['fas', 'map-marked-alt']" size ="2x" slot="start"></fa-icon> Address: Espoo, Finland 
     </ion-item>  
</ion-content> 
