<!--Larisa Pyykölä, student number 1702357-->
<!--added menu and title-->
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contacts</ion-title>
    </ion-toolbar>
  </ion-header>

<!--used grid for adding my contacts-->
<!--TODO - add some styling to this page, so it looks better-->
<ion-content>
    <ion-item>
        Test icon <fa-icon [icon]="['fas', 'ice-cream']" size ="3x" slot="end"></fa-icon>
      </ion-item>
  
      <ion-item>
        Test icon <fa-icon [icon]="['fas', 'pizza-slice']" [spin]="true" slot="end"></fa-icon>
      </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="call"></ion-icon> Phone:
      </ion-col>
      <ion-col>
        +358 40 584 88 34 
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <ion-icon name="mail"></ion-icon> Email:
        </ion-col>
        <ion-col>
          larisa.pyykola@gmail.com 
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-icon name="flag"></ion-icon> Address:
      </ion-col>
      <ion-col>
        Espoo 
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
</ion-content> 
