// Larisa Pyykölä, student number 1702357


:host {
ion-content {
  --background: url('../../../assets/imgs/projects.jpg')no-repeat center center / cover;
}
}

ion-list-header {
  font-size: 1.1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1em;
}
