<!--Larisa Pyykölä, student number 1702357-->
<!--added menu and title-->
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Education</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <!--added cards for the education tab-->
    <ion-card class="edu">
        <ion-card-header>
            <h1> Laurea University of Applied Sciences.</h1>
        </ion-card-header>
        <ion-card-content>
          <p>Bachelor of Business Administration<br>Major: Business Information Technology</p><br>
          HELSINKI, FINLAND<br>
          2017-2020 
        </ion-card-content>
      </ion-card>

      <ion-card class="edu">
          <ion-card-header>
              <h1> Helsinki Business College.  </h1>
          </ion-card-header>
          <ion-card-content>
              <p>Vocational Qualification in Business and Administration</p><br>
            HELSINKI, FINLAND<br>
            2016-2017
          </ion-card-content>
        </ion-card>

        <ion-card class="edu">
            <ion-card-header>
                <h1> Saint-Petersburg State University of Culture and Arts.  </h1>
            </ion-card-header>
            <ion-card-content>
                <p>Bachelor's Degree in Cultural Heritage Management</p><br>
                SAINT-PETERSBURG, RUSSIA
                <br>
                2005-2009
            </ion-card-content>
          </ion-card>

          <ion-card class="edu">
              <ion-card-header>
                  <h1> Art and Restoration Professional College.  </h1>
              </ion-card-header>
              <ion-card-content>
                  <p> Decorator. Restorer of decorative paintings. </p> <br>
                  SAINT-PETERSBURG, RUSSIA
                  <br>
                  2003-2005
              </ion-card-content>
            </ion-card>


</ion-content>
