<!--Larisa Pyykölä, student number 1702357-->
<!--added menu and title-->
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Soft skills</ion-title>
    </ion-toolbar>
  </ion-header>
<!--added skills in a list-->
<ion-content padding>
  <div class="softSkills">
    <h2>Soft skills</h2>

    <ul>
      <li>Responsibility </li>
      <li>Good learning skills </li>
      <li>Positive attitude at work </li>
      <li>Good communication skills </li>
      <li>Enthusiastic about new challenges </li>
    </ul>

  </div>

</ion-content>
