// Larisa Pyykölä, student number 1702357

:host {
    ion-content {
      --background: url('../../../assets/imgs/soft.jpg')no-repeat center center / cover;// backgroung 
    }
  }

.softSkills{
        padding: 1em;
        background: white;
        opacity: 0.70;     
}

li {
    padding: 0.5em;
}